<footer>
    <div class="f-info">
        <div class="f-info-socials">

        </div>
        <div>wanderlust private limited</div>
    </div>
    <div class="f-info-links">
        <a href="/privacy">privacy</a>
        <a href="/terms">terms</a>
    </div>
</footer>